<select #column>
  <option *ngFor="let column of tableConfig.search.column" >{{column}}</option>
</select>
<input type="text" (keyup)="search($event, column.value)">

<table class="table">
  <thead>
  <tr>
    <th scope="col" *ngFor="let header of tableConfig.headers" (click)="changeOrder(data, header.key, orderType)" >{{header.label}}
      <i [ngClass]="[orderType === 'asc' ? 'bi bi-arrow-down-short' : 'bi bi-arrow-up-short']"></i>
    </th>
  </tr>
  </thead>

  <tr class="table-secondary" *ngFor="let d of data">
    <td *ngFor="let h of tableConfig.headers">{{d[h.key]}}</td>
    <ng-container *ngFor="let action of tableConfig.actions">
      <app-configurable-button *ngIf="action.inRow" [config]="getConfig(action.action)" (generalEvent)="provaEvento(d, action.action)"></app-configurable-button>
    </ng-container>
  </tr>

</table>
<button type="button" [disabled]="page === 0" (click)="prevPage()"> < </button>
<button type="button" [disabled]="checkEnd(itemsPerPage * page + itemsPerPage)" (click)="nextPage()"> > </button>
<select #pagination (change)="changePagination(pagination.value)">
  <option *ngFor="let pagination of tableConfig.pagination.itemPerPageOptions">{{pagination}}</option>
</select>

