<div class="container">
  <h2>Gestisci prenotazione</h2>
  <br><br><br>
</div>

<div class="container">
  <form #reservation="ngForm" (ngSubmit)="showCars(reservation.value)">
    <div class="form-floating mb-4">
      <input type="date" class="form-control" [(ngModel)]="model['startDate']" name="startDate" id="startDate" required>
      <label for="startDate">Inizio Periodo</label>
    </div>
    <div class="form-floating mb-4">
      <input type="date" class="form-control" [(ngModel)]="model['endDate']" name="endDate" id="endDate" required>
      <label for="endDate">Fine Periodo</label>
    </div>

    <div class="d-grid gap-2">
      <input type="hidden" [(ngModel)]="model['id']" name="id" [value]="model['id']">
      <input class="btn btn-lg btn-primary" type="submit" value="Invia">
    </div>

    <br><br><br>

    <div class="container">
      <app-table-template [tableConfig]="auto" [data]="cars" (outputEvento)="onAction($event)"></app-table-template>
    </div>
  </form>
</div>
