<div class="container">
  <h2>Gestisci prenotazione</h2>
  <br><br><br>
</div>

<div class="container">
  <form action="#" method="GET">
    <div class="form-floating mb-4">
      <input type="date" class="form-control" name="startDate" id="startDate" required>
      <label for="startDate">Inizio Periodo</label>
    </div>
    <div class="form-floating mb-4">
      <input type="date" class="form-control" name="endDate" id="endDate" required>
      <label for="endDate">Fine Periodo</label>
    </div>

    <div class="d-grid gap-2">
      <input class="btn btn-lg btn-primary" type="submit" value="Invia">
    </div>

    <br><br><br>

    <div class="container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Marca</th>
          <th scope="col">Modello</th>
          <th scope="col">Targa</th>
        </tr>
        </thead>

      </table>
    </div>
  </form>
</div>
