<select #column>
  <option *ngFor="let column of tableConfig.search.column" >{{column}}</option>
</select>
<input type="text" (keyup)="data = search($event, column.value)">

<table border="1">
  <tr>
    <th *ngFor="let header of tableConfig.headers" (click)="changeOrder(data, header.key, orderType)" >{{header.label}}
      <i [ngClass]="[orderType === 'asc' ? 'bi bi-arrow-down-short' : 'bi bi-arrow-up-short']"></i>
    </th>
  </tr>

  <tr *ngFor="let d of data">
    <td *ngFor="let h of tableConfig.headers">{{d[h.key]}}</td>
  </tr>
</table>

