<div class="container">
  <h2>Form Utente</h2>
  <br><br><br>
</div>

<div class="container">
  <form action="#" method="POST">
    <div class="form-group">
      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="firstName" id="firstName" required>
        <label for="firstName">Nome</label>
      </div>
      <div class="form-floating mb-4">
        <input type="text" class="form-control" name="lastName" id="lastName" required>
        <label for="lastName">Cognome</label>
      </div>
      <div class="form-floating mb-4">
        <input type="email" class="form-control" name="email" id="email" required>
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-4">
        <input type="password" class="form-control" name="password" id="password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="form-floating mb-4">
      <input type="date" class="form-control" name="birthday" id="birthday" required>
      <label for="birthday">Data di Nascita</label>
    </div>

    <div class="d-grid gap-2">
      <input class="btn btn-lg btn-primary" type="submit" value="Salva">
    </div>
  </form>
</div>
