<div class="container">
  <h2>Form Utente</h2>
  <br><br><br>
</div>

<div class="container">
  <form #user="ngForm" (ngSubmit)="addOrUpdate(user.value)">
    <div class="form-group">
      <div class="form-floating mb-4">
        <input type="text" class="form-control" [(ngModel)]="model['firstName']" name="firstName" id="firstName" required>
        <label for="firstName">Nome</label>
      </div>
      <div class="form-floating mb-4">
        <input type="text" class="form-control" [(ngModel)]="model['lastName']" name="lastName" id="lastName" required>
        <label for="lastName">Cognome</label>
      </div>
      <div class="form-floating mb-4">
        <input type="email" class="form-control" [(ngModel)]="model['email']" name="email" id="email" required>
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-4">
        <input type="password" class="form-control" name="password" id="password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="form-floating mb-4">
      <input type="date" class="form-control" [(ngModel)]="model['birthday']" name="birthday" id="birthday" required>
      <label for="birthday">Data di Nascita</label>
    </div>

    <div class="d-grid gap-2">
      <input type="hidden" [(ngModel)]="model['id']" name="id" [value]="model['id']">
      <input class="btn btn-lg btn-primary" type="submit" value="Salva">
    </div>
  </form>
</div>
